  html, body {
      height: 100%;
      margin: 0;
    }

       body {
      background-image: url("./images/bg-header-desktop.png"); /* Change to your image path */
      background-size: cover;  
      background-position: center;  
      background-repeat: no-repeat; 
      background-attachment: fixed;
       }